$grid-column-count: 24;
@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;
@import 'node_modules/bourbon/app/assets/stylesheets/bourbon';

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import 'mixins';
$font-primary: 'Oswald', sans-serif;
$color-white: #FFF;
$color-black: #000;
$color-pink: #E63A74;
$color-blue: #007AFF;
@import 'typography';
@import 'components';

@import 'login';
@import 'profile';
@import 'buttons';
@import 'navbar';
@import 'chat';
@import 'chat-detail';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

html, body {
  height: 100%;
}
body {
  background: #F2EEF3;
  font-family: $font-primary;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}
