$grid-column-count: 24;

@import 'node_modules/foundation-sites/scss/foundation';
@import 'node_modules/bourbon/app/assets/stylesheets/bourbon';
@include foundation-global-styles;
@include foundation-grid;
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import 'mixins';
@import 'colors';
@import 'typography';
@import 'components';

// components
@import 'login';
@import 'profile';
@import 'navbar';
@import 'chat';
@import 'buttons';
@import 'chat-detail';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

html, body {
  height: 100%;
}
body {
  background: #F2EEF3;
  font-family: $font-primary;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.swiper-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.swiper-pagination {
  position: relative;
  z-index: 4;
}
