.chat-block {
  // TODO: remove, test purposes only
  background: lightpink !important;

  .user-chat {
    width: 100%;
    overflow: auto;
    padding: 20px 0 20px 0;

    .image {
      width: 50px !important;
      height: 50px !important;
    }

    .text {
      max-width: 75%;
      background-color: white;
      border: 12px solid white;
      border-radius: 10px;

      p {
        float: left;
        max-width: 85%;
        text-transform: none;
        font-weight: 300;
        line-height: 1.2;
      }

      span {
        float: right;
        margin-top: -4px;
        color: $color-pink;
        font-size: 16px;
      }
    }
  }

  .user-a {
    .image {
      float: left;
    }
    .text {
      float: left;
    }
  }

  .user-b {
    .image {
      float: right;
    }
    .text {
      float: right;
      margin-right: 20px;
    }
  }
}

.chat-input-block {
  .user-input {
    #totalChars {
      color: $color-darkgray;
      padding-bottom: 5px;
    }
    #message {
      width: 80%;
      border-radius: 5px;
    }
  }
}